.hero{
    width: 100%;
    height: 100vh;
    background-image: url('https://s3-us-west-1.amazonaws.com/goalsytracker/herocopy.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.startButton
{
    color: white;
    padding: 20px 30px;
    font-size: 17pt;
    outline: none;
    border: none;
    background : -moz-linear-gradient(34.02% -49.4% -60deg,rgba(239, 118, 106, 1) 0%,rgba(242, 100, 155, 1) 100%);
    background : -webkit-linear-gradient(-60deg, rgba(239, 118, 106, 1) 0%, rgba(242, 100, 155, 1) 100%);
    background : -webkit-gradient(linear,34.02% -49.4% ,65.98% 149.4% ,color-stop(0,rgba(239, 118, 106, 1) ),color-stop(1,rgba(242, 100, 155, 1) ));
    background : -o-linear-gradient(-60deg, rgba(239, 118, 106, 1) 0%, rgba(242, 100, 155, 1) 100%);
    background : -ms-linear-gradient(-60deg, rgba(239, 118, 106, 1) 0%, rgba(242, 100, 155, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#EF766A', endColorstr='#F2649B' ,GradientType=0)";
    background : linear-gradient(150deg, rgba(239, 118, 106, 1) 0%, rgba(242, 100, 155, 1) 100%);
    border-radius : 41px;
    -moz-border-radius : 41px;
    -webkit-border-radius : 41px;
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EF766A',endColorstr='#F2649B' , GradientType=1);
}


.buttonPulse{    
	animation-name: pulse;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0,.91,.82,.32);
    animation-fill-mode: both;
    animation-delay: 2s;
 }
 
 @keyframes pulse{
    2%   {transform: rotate(0deg);
            transform: scale(.9);}
    3%   {transform: rotate(0deg);
        transform: scale(1.2)}
    4%   {transform: rotate(0deg);}
    5%   {transform: rotate(0deg);}
    6%   {transform: rotate(-5deg);}
    8%   {transform: rotate(3deg);}
    9%  {transform: rotate(0deg);}
    90%, 100% {transform: rotate(0deg);}
 }


.startButton:hover {
    background : -moz-linear-gradient(0% 50% 0deg,rgba(253, 140, 122, 1) 0%,rgba(253, 130, 140, 1) 39.9%,rgba(253, 117, 162, 1) 97.1%);
    background : -webkit-linear-gradient(0deg, rgba(253, 140, 122, 1) 0%, rgba(253, 130, 140, 1) 39.9%, rgba(253, 117, 162, 1) 97.1%);
    background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(253, 140, 122, 1) ),color-stop(0.399,rgba(253, 130, 140, 1) ),color-stop(0.971,rgba(253, 117, 162, 1) ));
    background : -o-linear-gradient(0deg, rgba(253, 140, 122, 1) 0%, rgba(253, 130, 140, 1) 39.9%, rgba(253, 117, 162, 1) 97.1%);
    background : -ms-linear-gradient(0deg, rgba(253, 140, 122, 1) 0%, rgba(253, 130, 140, 1) 39.9%, rgba(253, 117, 162, 1) 97.1%);
    background : linear-gradient(90deg, rgba(253, 140, 122, 1) 0%, rgba(253, 130, 140, 1) 39.9%, rgba(253, 117, 162, 1) 97.1%);
    background-color: rgba(247, 248, 246, 0.555);
    box-shadow: 6px 6px 6px #1f1f1f;
    transform: translateY(2px);
}

.startButton:active {
    background : -moz-linear-gradient(0% 50% 0deg,rgba(253, 140, 122, 1) 0%,rgba(253, 130, 140, 1) 39.9%,rgba(253, 117, 162, 1) 97.1%);
    background : -webkit-linear-gradient(0deg, rgba(253, 140, 122, 1) 0%, rgba(253, 130, 140, 1) 39.9%, rgba(253, 117, 162, 1) 97.1%);
    background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(253, 140, 122, 1) ),color-stop(0.399,rgba(253, 130, 140, 1) ),color-stop(0.971,rgba(253, 117, 162, 1) ));
    background : -o-linear-gradient(0deg, rgba(253, 140, 122, 1) 0%, rgba(253, 130, 140, 1) 39.9%, rgba(253, 117, 162, 1) 97.1%);
    background : -ms-linear-gradient(0deg, rgba(253, 140, 122, 1) 0%, rgba(253, 130, 140, 1) 39.9%, rgba(253, 117, 162, 1) 97.1%);
    background : linear-gradient(90deg, rgba(253, 140, 122, 1) 0%, rgba(253, 130, 140, 1) 39.9%, rgba(253, 117, 162, 1) 97.1%);
    background-color: rgba(247, 248, 246, 0.555);
    box-shadow: 2px 2px 2px #1f1f1f;
    transform: translateY(3px);

}

.loadingBackDrop{
        padding: 10% 42%;
        width: 100%;
        height: 100vh;
}

.noDecor {
    text-decoration: none;
}

@media(max-width: 527px){
    .startButton{
        padding: 10px 20px;
    }
}

.pulse {
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
    animation-name: smart;
    font-size: 1.4em;
    color:#ff8c69;
}

@keyframes smart {
    0%   {color: #f79e63;}
    25%   {color: #ef766a;}
    50%   {color: #f2649b;}
    75%   {color: #ef766a;}
    100%   {color: #f79e63;}
}





