.hero{
    width: 100%;
    height: 110vh;
    background-image: url("../../assests/hero.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
