.wrappers{
    background-color: #333243;
    width: 90vw;
    margin: auto;
    padding-bottom: 20px;
    box-shadow: 10px 10px 69px -5px rgba(0,0,0,0.51);
}

.firstRow {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
	flex-wrap: wrap;
	align-content: stretch;
}

.secondRow {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: baseline;
	align-content: stretch;
}

.size{
    width: 50vw;
}
.boxerOne {
    background : -moz-linear-gradient(2.9% 86.06% 40.65deg,rgba(242, 100, 155, 1) 0%,rgba(240, 100, 156, 1) 1.28%,rgba(141, 96, 198, 1) 69.47%,rgba(101, 95, 215, 1) 100%);
    background : -webkit-linear-gradient(40.65deg, rgba(242, 100, 155, 1) 0%, rgba(240, 100, 156, 1) 1.28%, rgba(141, 96, 198, 1) 69.47%, rgba(101, 95, 215, 1) 100%);
    background : -webkit-gradient(linear,2.9% 86.06% ,101.22% 10.78% ,color-stop(0,rgba(242, 100, 155, 1) ),color-stop(0.0128,rgba(240, 100, 156, 1) ),color-stop(0.6947,rgba(141, 96, 198, 1) ),color-stop(1,rgba(101, 95, 215, 1) ));
    background : -o-linear-gradient(40.65deg, rgba(242, 100, 155, 1) 0%, rgba(240, 100, 156, 1) 1.28%, rgba(141, 96, 198, 1) 69.47%, rgba(101, 95, 215, 1) 100%);
    background : -ms-linear-gradient(40.65deg, rgba(242, 100, 155, 1) 0%, rgba(240, 100, 156, 1) 1.28%, rgba(141, 96, 198, 1) 69.47%, rgba(101, 95, 215, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2649B', endColorstr='#655FD7' ,GradientType=0)";
    background : linear-gradient(49.35deg, rgba(242, 100, 155, 1) 0%, rgba(240, 100, 156, 1) 1.28%, rgba(141, 96, 198, 1) 69.47%, rgba(101, 95, 215, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2649B',endColorstr='#655FD7' , GradientType=1);  
    margin: 10px;
    margin-left: 40px;
    width: 12vw;
    padding: 10px 20px;
    /* background-color: #3f3e54; */
    box-shadow: 10px 10px 69px -5px rgba(0, 0, 0, 0.226);
}

.boxerTwo {
    background : -moz-linear-gradient(0.68% 84.45% 40.65deg,rgba(242, 100, 155, 1) 0%,rgba(201, 146, 151, 1) 100%);
    background : -webkit-linear-gradient(40.65deg, rgba(242, 100, 155, 1) 0%, rgba(201, 146, 151, 1) 100%);
    background : -webkit-gradient(linear,0.68% 84.45% ,103.64% 12.54% ,color-stop(0,rgba(242, 100, 155, 1) ),color-stop(1,rgba(201, 146, 151, 1) ));
    background : -o-linear-gradient(40.65deg, rgba(242, 100, 155, 1) 0%, rgba(201, 146, 151, 1) 100%);
    background : -ms-linear-gradient(40.65deg, rgba(242, 100, 155, 1) 0%, rgba(201, 146, 151, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2649B', endColorstr='#C99297' ,GradientType=0)";
    background : linear-gradient(49.35deg, rgba(242, 100, 155, 1) 0%, rgba(201, 146, 151, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2649B',endColorstr='#C99297' , GradientType=1);  
    margin: 10px;
    width: 12vw;
    padding: 10px 20px;
    /* background-color: #3f3e54; */
    box-shadow: 10px 10px 69px -5px rgba(0, 0, 0, 0.226);
}

.boxerThree {
    background : -moz-linear-gradient(-1.35% 83.2% 40.65deg,rgba(40, 197, 234, 1) 0%,rgba(94, 157, 238, 1) 29.13%,rgba(148, 117, 242, 1) 62.02%,rgba(182, 92, 244, 1) 86.65%,rgba(195, 83, 245, 1) 100%);
    background : -webkit-linear-gradient(40.65deg, rgba(40, 197, 234, 1) 0%, rgba(94, 157, 238, 1) 29.13%, rgba(148, 117, 242, 1) 62.02%, rgba(182, 92, 244, 1) 86.65%, rgba(195, 83, 245, 1) 100%);
    background : -webkit-gradient(linear,-1.35% 83.2% ,105.85% 13.89% ,color-stop(0,rgba(40, 197, 234, 1) ),color-stop(0.2913,rgba(94, 157, 238, 1) ),color-stop(0.6202,rgba(148, 117, 242, 1) ),color-stop(0.8665,rgba(182, 92, 244, 1) ),color-stop(1,rgba(195, 83, 245, 1) ));
    background : -o-linear-gradient(40.65deg, rgba(40, 197, 234, 1) 0%, rgba(94, 157, 238, 1) 29.13%, rgba(148, 117, 242, 1) 62.02%, rgba(182, 92, 244, 1) 86.65%, rgba(195, 83, 245, 1) 100%);
    background : -ms-linear-gradient(40.65deg, rgba(40, 197, 234, 1) 0%, rgba(94, 157, 238, 1) 29.13%, rgba(148, 117, 242, 1) 62.02%, rgba(182, 92, 244, 1) 86.65%, rgba(195, 83, 245, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#28C5EA', endColorstr='#C353F5' ,GradientType=0)";
    background : linear-gradient(49.35deg, rgba(40, 197, 234, 1) 0%, rgba(94, 157, 238, 1) 29.13%, rgba(148, 117, 242, 1) 62.02%, rgba(182, 92, 244, 1) 86.65%, rgba(195, 83, 245, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#28C5EA',endColorstr='#C353F5' , GradientType=1);
    margin: 10px;
    width: 12vw;
    padding: 10px 20px;
    /* background-color: #3f3e54; */
    box-shadow: 10px 10px 69px -5px rgba(0, 0, 0, 0.226);
}


.textyText{
    color: #ffffff;
    font-size: 16pt;
    text-align: center;
    font-family: 'Raleway','serif';
    /* background-color: blue; */
}

.color {
    color: white;
    padding-right: 20px;
    font-family: 'Raleway','serif';
}

.numberGoals {
    color: #ffffff;
    margin-top: 40px;
    text-align: center;
    font-size: 50pt;
}

.barGraph {
    margin: 20px;
    background-color: #3f3e54;
}

.pie{
    width: 400px;
    margin-right: 50px;
    text-align: center;
}
/* 
@media (min-width: 1350px) {
    .wrappers{
        width: 1200px;
    }
    .firstRow {
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: nowrap;
        align-content: stretch;
    }
    .boxerOne, .boxerTwo, .boxerThree{
        width: 200px;
    }
}
@media (min-width: 1024px) {
    .wrappers{
        width: 900px;
    }
    .firstRow {
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        align-content: stretch;
    }
    .secondRow {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;
        align-content: stretch;
    }
    .boxerOne, .boxerTwo, .boxerThree{
        width: 200px;
        margin: 0;
    }
}

@media (max-width: 768px) {
    .secondRow {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;
        align-content: stretch;
}
    .boxerOne, .boxerTwo, .boxerThree{
        width: 20vw;
        height: 200px;
        margin-bottom: 40px;
    }
    .pie{
      text-align: center;
      margin: 40px 0px;
  }
  } */

/* @media (max-width: 414px) {
    .firstRow {
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        align-content: stretch;
        
    }
    .secondRow {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;
        align-content: stretch;
    }
    .barGraph{
        display: none;
    }
    
    .boxerOne, .boxerTwo, .boxerThree{
        width: 140px;
        height: 100px;
        padding: 8px 10px;
    }
    .textyText{
        font-size: 14pt;
    }
    .numberGoals {
        margin-top: 10px;
        text-align: center;
        font-size: 16pt;
    }
    .pie{
        display: none;

    }
} */

/* @media (max-width: 361px) {
   .color{
    font-size: 12px;
   }
} */