.wrappers{
    background-color: #333243;
    width: 90vw;
    margin: auto;
    box-shadow: 10px 10px 69px -5px rgba(0,0,0,0.51);
}

.firstRow {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
	flex-wrap: nowrap;
	align-content: stretch;
}

.secondRow {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: baseline;
	align-content: stretch;
}

.boxerOne {
    background : -moz-linear-gradient(2.9% 86.06% 40.65deg,rgba(242, 100, 155, 1) 0%,rgba(240, 100, 156, 1) 1.28%,rgba(141, 96, 198, 1) 69.47%,rgba(101, 95, 215, 1) 100%);
    background : -webkit-linear-gradient(40.65deg, rgba(242, 100, 155, 1) 0%, rgba(240, 100, 156, 1) 1.28%, rgba(141, 96, 198, 1) 69.47%, rgba(101, 95, 215, 1) 100%);
    background : -webkit-gradient(linear,2.9% 86.06% ,101.22% 10.78% ,color-stop(0,rgba(242, 100, 155, 1) ),color-stop(0.0128,rgba(240, 100, 156, 1) ),color-stop(0.6947,rgba(141, 96, 198, 1) ),color-stop(1,rgba(101, 95, 215, 1) ));
    background : -o-linear-gradient(40.65deg, rgba(242, 100, 155, 1) 0%, rgba(240, 100, 156, 1) 1.28%, rgba(141, 96, 198, 1) 69.47%, rgba(101, 95, 215, 1) 100%);
    background : -ms-linear-gradient(40.65deg, rgba(242, 100, 155, 1) 0%, rgba(240, 100, 156, 1) 1.28%, rgba(141, 96, 198, 1) 69.47%, rgba(101, 95, 215, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2649B', endColorstr='#655FD7' ,GradientType=0)";
    background : linear-gradient(49.35deg, rgba(242, 100, 155, 1) 0%, rgba(240, 100, 156, 1) 1.28%, rgba(141, 96, 198, 1) 69.47%, rgba(101, 95, 215, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2649B',endColorstr='#655FD7' , GradientType=1);  
    margin: 10px;
    margin-left: 20px;
    width: 13vw;
    height: 160px;
    padding: 8px 15px;
    box-shadow: 10px 10px 69px -5px rgba(0, 0, 0, 0.226);
}

.boxerTwo {
    background : -moz-linear-gradient(0.68% 84.45% 40.65deg,rgba(242, 100, 155, 1) 0%,rgba(201, 146, 151, 1) 100%);
    background : -webkit-linear-gradient(40.65deg, rgba(242, 100, 155, 1) 0%, rgba(201, 146, 151, 1) 100%);
    background : -webkit-gradient(linear,0.68% 84.45% ,103.64% 12.54% ,color-stop(0,rgba(242, 100, 155, 1) ),color-stop(1,rgba(201, 146, 151, 1) ));
    background : -o-linear-gradient(40.65deg, rgba(242, 100, 155, 1) 0%, rgba(201, 146, 151, 1) 100%);
    background : -ms-linear-gradient(40.65deg, rgba(242, 100, 155, 1) 0%, rgba(201, 146, 151, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2649B', endColorstr='#C99297' ,GradientType=0)";
    background : linear-gradient(49.35deg, rgba(242, 100, 155, 1) 0%, rgba(201, 146, 151, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2649B',endColorstr='#C99297' , GradientType=1);  
    margin: 10px;
    width: 13vw;
    height: 160px;
    padding: 8px 15px;
    box-shadow: 10px 10px 69px -5px rgba(0, 0, 0, 0.226);
}

.boxerThree {
    background : -moz-linear-gradient(-1.35% 83.2% 40.65deg,rgba(40, 197, 234, 1) 0%,rgba(94, 157, 238, 1) 29.13%,rgba(148, 117, 242, 1) 62.02%,rgba(182, 92, 244, 1) 86.65%,rgba(195, 83, 245, 1) 100%);
    background : -webkit-linear-gradient(40.65deg, rgba(40, 197, 234, 1) 0%, rgba(94, 157, 238, 1) 29.13%, rgba(148, 117, 242, 1) 62.02%, rgba(182, 92, 244, 1) 86.65%, rgba(195, 83, 245, 1) 100%);
    background : -webkit-gradient(linear,-1.35% 83.2% ,105.85% 13.89% ,color-stop(0,rgba(40, 197, 234, 1) ),color-stop(0.2913,rgba(94, 157, 238, 1) ),color-stop(0.6202,rgba(148, 117, 242, 1) ),color-stop(0.8665,rgba(182, 92, 244, 1) ),color-stop(1,rgba(195, 83, 245, 1) ));
    background : -o-linear-gradient(40.65deg, rgba(40, 197, 234, 1) 0%, rgba(94, 157, 238, 1) 29.13%, rgba(148, 117, 242, 1) 62.02%, rgba(182, 92, 244, 1) 86.65%, rgba(195, 83, 245, 1) 100%);
    background : -ms-linear-gradient(40.65deg, rgba(40, 197, 234, 1) 0%, rgba(94, 157, 238, 1) 29.13%, rgba(148, 117, 242, 1) 62.02%, rgba(182, 92, 244, 1) 86.65%, rgba(195, 83, 245, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#28C5EA', endColorstr='#C353F5' ,GradientType=0)";
    background : linear-gradient(49.35deg, rgba(40, 197, 234, 1) 0%, rgba(94, 157, 238, 1) 29.13%, rgba(148, 117, 242, 1) 62.02%, rgba(182, 92, 244, 1) 86.65%, rgba(195, 83, 245, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#28C5EA',endColorstr='#C353F5' , GradientType=1);
    margin: 10px;
    margin-right: 30px;
    width: 13vw;
    height: 160px;
    padding: 8px 15px;
    box-shadow: 10px 10px 69px -5px rgba(0, 0, 0, 0.226);
}


.textyText{
    color: #ffffff;
    font-size: 16pt;
    text-align: center;
    font-family: 'Raleway','serif';
    padding-bottom: 3px;
    border-bottom: 2px solid white;
}

.color {
    color: white;
    padding-right: 20px;
    font-family: 'Raleway','serif';
}

.numberGoals {
    color: #ffffff;
    margin-top: 20px;
    text-align: center;
    font-size: 30pt;
}

.barGraph {
    margin: 10px;
    background-color: #3f3e54;
    transform: translateY(-80px)
}
.barGraphOne {
    background-color: #3f3e54;
}
.pie{
    width: 400px;
    margin-right: 50px;
    text-align: center;
}

.createButton
{
    color: white;
    padding: 20px 30px;
    font-size: 17pt;
    outline: none;
    border: none;
    background : -moz-linear-gradient(34.02% -49.4% -60deg,rgba(239, 118, 106, 1) 0%,rgba(242, 100, 155, 1) 100%);
    background : -webkit-linear-gradient(-60deg, rgba(239, 118, 106, 1) 0%, rgba(242, 100, 155, 1) 100%);
    background : -webkit-gradient(linear,34.02% -49.4% ,65.98% 149.4% ,color-stop(0,rgba(239, 118, 106, 1) ),color-stop(1,rgba(242, 100, 155, 1) ));
    background : -o-linear-gradient(-60deg, rgba(239, 118, 106, 1) 0%, rgba(242, 100, 155, 1) 100%);
    background : -ms-linear-gradient(-60deg, rgba(239, 118, 106, 1) 0%, rgba(242, 100, 155, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#EF766A', endColorstr='#F2649B' ,GradientType=0)";
    background : linear-gradient(150deg, rgba(239, 118, 106, 1) 0%, rgba(242, 100, 155, 1) 100%);
    border-radius : 41px;
    -moz-border-radius : 41px;
    -webkit-border-radius : 41px;
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EF766A',endColorstr='#F2649B' , GradientType=1);
}

.createButton:hover {
    background : -moz-linear-gradient(0% 50% 0deg,rgba(253, 140, 122, 1) 0%,rgba(253, 130, 140, 1) 39.9%,rgba(253, 117, 162, 1) 97.1%);
    background : -webkit-linear-gradient(0deg, rgba(253, 140, 122, 1) 0%, rgba(253, 130, 140, 1) 39.9%, rgba(253, 117, 162, 1) 97.1%);
    background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(253, 140, 122, 1) ),color-stop(0.399,rgba(253, 130, 140, 1) ),color-stop(0.971,rgba(253, 117, 162, 1) ));
    background : -o-linear-gradient(0deg, rgba(253, 140, 122, 1) 0%, rgba(253, 130, 140, 1) 39.9%, rgba(253, 117, 162, 1) 97.1%);
    background : -ms-linear-gradient(0deg, rgba(253, 140, 122, 1) 0%, rgba(253, 130, 140, 1) 39.9%, rgba(253, 117, 162, 1) 97.1%);
    background : linear-gradient(90deg, rgba(253, 140, 122, 1) 0%, rgba(253, 130, 140, 1) 39.9%, rgba(253, 117, 162, 1) 97.1%);
    background-color: rgba(247, 248, 246, 0.555);
    box-shadow: 6px 6px 6px #1f1f1f;
    transform: translateY(2px);
}

.createButton:active {
    background : -moz-linear-gradient(0% 50% 0deg,rgba(253, 140, 122, 1) 0%,rgba(253, 130, 140, 1) 39.9%,rgba(253, 117, 162, 1) 97.1%);
    background : -webkit-linear-gradient(0deg, rgba(253, 140, 122, 1) 0%, rgba(253, 130, 140, 1) 39.9%, rgba(253, 117, 162, 1) 97.1%);
    background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(253, 140, 122, 1) ),color-stop(0.399,rgba(253, 130, 140, 1) ),color-stop(0.971,rgba(253, 117, 162, 1) ));
    background : -o-linear-gradient(0deg, rgba(253, 140, 122, 1) 0%, rgba(253, 130, 140, 1) 39.9%, rgba(253, 117, 162, 1) 97.1%);
    background : -ms-linear-gradient(0deg, rgba(253, 140, 122, 1) 0%, rgba(253, 130, 140, 1) 39.9%, rgba(253, 117, 162, 1) 97.1%);
    background : linear-gradient(90deg, rgba(253, 140, 122, 1) 0%, rgba(253, 130, 140, 1) 39.9%, rgba(253, 117, 162, 1) 97.1%);
    background-color: rgba(247, 248, 246, 0.555);
    box-shadow: 2px 2px 2px #1f1f1f;
    transform: translateY(3px);

}

@media(max-width: 1200px){
    .firstRow, .secondRow {
        padding-top: 20px;
        flex-wrap: wrap;
    }
    .pie{
        margin: 30px 0;
    }
    .boxerOne, .boxerTwo, .boxerThree {
        width: 16vw;
    }
    .boxerThree{
        margin-right: 30px;
    }
}

@media(max-width: 1198px){
    .barGraph{
        transform: translateY(0)
    }
}

@media(max-width: 700px){
    .firstRow {
        padding-top: 20px;
        flex-wrap: wrap;
    }
    .pie{
        margin: 30px 0;
    }
    .boxerOne, .boxerTwo, .boxerThree {
        width: 15vw;
    }
    .boxerThree{
        margin-right: 30px;
    }
    .numberGoals {
        font-size: 30pt;
        margin-top: 20px;
    }
    .textyText{
        font-size: 13pt;
    }
}

@media(max-width: 628px){
    /* .firstRow {
        padding-top: 20px;
        flex-wrap: wrap;
    } */
    .pie{
        margin: 30px 0;
    }
    .boxerOne, .boxerTwo, .boxerThree {
        width: 15vw;
    }
    .boxerThree{
        margin-right: 30px;
    }
    .numberGoals {
        font-size: 30pt;
        margin-top: 20px;
    }
    .textyText{
        font-size: 13pt;
    }
    .barGraphOne{
        display: none;
    }
    .barGraphTwo{
        display: block;
        background-color: #3f3e54;
    }
}

@media(max-width: 511px){
    .firstRow {
        padding-top: 10px;
       display: inline-block;
    }
    .pie{
        margin: 30px 0;
    }
    .boxerOne, .boxerTwo, .boxerThree {
        width: 59vw;
        padding: 8px 16px;
        margin: 10px auto;
        margin-left: 55px;
    }
    /* .boxerThree{
        margin-right: 30px;
    } */
    .numberGoals {
        font-size: 20pt;
        margin-top: 10px;
    }
    .textyText{
        font-size: 15pt;
    }
    .barGraphOne{
        display: none;
    }
    .barGraphTwo{
        display: none;
    }
}

@media(max-width: 411px){
    .firstRow {
        padding-top: 10px;
       display: inline-block;
    }
    .pie{
        display: none;
    }
    .boxerOne, .boxerTwo, .boxerThree {
        width: 60vw;
        padding: 8px 8px;
        margin: 10px auto;
        margin-left: 55px;
    }
    .boxerThree{
        margin-right: 0px;
    }
    .numberGoals {
        font-size: 20pt;
        margin-top: 10px;
    }
    .textyText{
        font-size: 15pt;
    }
    .barGraphOne{
        display: none;
    }
    .barGraphTwo{
        display: none;
    }
}
@media(max-width: 375px){
    .firstRow {
        padding-top: 10px;
       display: inline-block;
    }
    .pie{
        display: none;
    }
    .boxerOne, .boxerTwo, .boxerThree {
        width: 60vw;
        padding: 8px 8px;
        margin: 10px auto;
        margin-left: 47px;
    }
    .boxerThree{
        margin-right: 0px;
    }
    .numberGoals {
        font-size: 20pt;
        margin-top: 10px;
        padding-bottom: 10px;
    }
    .textyText{
        font-size: 15pt;
    }
    .barGraphOne{
        display: none;
    }
    .barGraphTwo{
        display: none;
    }
}


/* @media (min-width: 1230px){
    .barGraphOne {
        display: none;
    }
    .barGraphTwo {
        display: block;
    }
    .barGraphThree {
       display: none;
    }
} */
/* 
@media (min-width: 1350px) {
    .wrappers{
        width: 1200px;
    }
    .firstRow {
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: nowrap;
        align-content: stretch;
    }
    .boxerOne, .boxerTwo, .boxerThree{
        width: 200px;
    }
}
@media (min-width: 1024px) {
    .wrappers{
        width: 900px;
    }
    .firstRow {
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        align-content: stretch;
    }
    .secondRow {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;
        align-content: stretch;
    }
    .boxerOne, .boxerTwo, .boxerThree{
        width: 200px;
        margin: 0;
    }
}

@media (max-width: 768px) {
    .secondRow {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;
        align-content: stretch;
}
    .boxerOne, .boxerTwo, .boxerThree{
        width: 20vw;
        height: 200px;
        margin-bottom: 40px;
    }
    .pie{
      text-align: center;
      margin: 40px 0px;
  }
  } */

/* @media (max-width: 414px) {
    .firstRow {
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        align-content: stretch;
        
    }
    .secondRow {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;
        align-content: stretch;
    }
    .barGraph{
        display: none;
    }
    
    .boxerOne, .boxerTwo, .boxerThree{
        width: 140px;
        height: 100px;
        padding: 8px 10px;
    }
    .textyText{
        font-size: 14pt;
    }
    .numberGoals {
        margin-top: 10px;
        text-align: center;
        font-size: 16pt;
    }
    .pie{
        display: none;

    }
} */

/* @media (max-width: 361px) {
   .color{
    font-size: 12px;
   }
} */