.goalTitle {
    text-align: center;
    font-family: 'Raleway','serif';
    color: white;
    font-size: 2em;
}

.checkBox {
    border: 1px solid rgb(89, 95, 121);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}

.true{
    background-color: #716e9bc7;
}


