.inputs {
    color: #d2d2d6;
    background-color: #292839;
    outline:  none;
    margin: auto;
    border: 1px #2e2d3f inset;
    display: block;
    margin-top: 20px;
    padding: 10px;
    font-size: 20pt;
    width: 32.5vw;
}

.datess {
    color: #d2d2d6;
    background-color: #292839;
    outline:  none;
    border: 1px #2e2d3f inset;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    font-size: 20pt;
    width: 15vw;
}

.formyForm {
    margin-top: 30px;
}